# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# Environment variables
.env

# Database files
*.db
*.sqlite
*.sqlite3

# OS/editor
.DS_Store
Thumbs.db
.vscode/

# Netlify
.netlify/

# Render/local logs
*.log